/* html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
} */



@media screen and (max-width: 768px) {
    .navbar-nav .nav-link {
        background-color: #f8f9fa;
        font-size: 24px;
    }    

} 
