@media screen and (max-width: 767px) {
    .navbar-nav .nav-link {
        margin: 1px;
        padding: 48px;
        border-bottom: none;
        background-color: #f8f9fa;
        font-size: 24px;
    }
    .navbar {
        margin: 24px;
    }    
    .showroom {
        margin-top: 15px;
    }
    .social {
        padding: 0.5rem;
    }
    .social-icons {
        padding: 1rem;
    }
} 

@media screen and (min-width: 768px) {
    .navbar {
        margin: 24px;
    }
    .navbar .nav-link {
        margin: 0px 16px;
    }
    .social {
        padding: 0.5rem;
    }
}